/.gradle/
/app/build/
/app/build/generated/
/app/build/intermediates/
/app/build/outputs/
/app/build/tmp/
/.gradle/8.2/
/.gradle/buildOutputCleanup/
/.gradle/vcs-1/
/app/build/intermediates/aar_metadata_check/
/app/build/intermediates/annotation_processor_list/
/app/build/intermediates/apk/
/app/build/intermediates/apk_ide_redirect_file/
/app/build/intermediates/app_metadata/
/app/build/intermediates/assets/
/app/build/intermediates/compatible_screen_manifest/
/app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/
/app/build/intermediates/compressed_assets/
/app/build/intermediates/data_binding_layout_info_type_merge/
/app/build/intermediates/data_binding_layout_info_type_package/
/app/build/intermediates/desugar_graph/
/app/build/intermediates/dex/
/app/build/intermediates/dex_archive_input_jar_hashes/
/app/build/intermediates/dex_number_of_buckets_file/
/app/build/intermediates/duplicate_classes_check/
/app/build/intermediates/external_file_lib_dex_archives/
/app/build/intermediates/external_libs_dex_archive/
/app/build/intermediates/external_libs_dex_archive_with_artifact_transforms/
/app/build/intermediates/incremental/
/app/build/intermediates/javac/
/app/build/intermediates/local_only_symbol_list/
/app/build/intermediates/manifest_merge_blame_file/
/app/build/intermediates/merged_java_res/
/app/build/intermediates/merged_jni_libs/
/app/build/intermediates/merged_manifest/
/app/build/intermediates/merged_manifests/
/app/build/intermediates/merged_res/
/app/build/intermediates/merged_res_blame_folder/
/app/build/intermediates/merged_shaders/
/app/build/intermediates/mixed_scope_dex_archive/
/app/build/intermediates/navigation_json/
/app/build/intermediates/packaged_manifests/
/app/build/intermediates/packaged_res/
/app/build/intermediates/processed_res/
/app/build/intermediates/project_dex_archive/
/app/build/intermediates/runtime_symbol_list/
/app/build/intermediates/signing_config_versions/
/app/build/intermediates/source_set_path_map/
/app/build/intermediates/stable_resource_ids_file/
/app/build/intermediates/sub_project_dex_archive/
/app/build/intermediates/symbol_list_with_package_name/
/app/build/intermediates/validate_signing_config/
/app/build/intermediates/variant_model/
